name: docker-releases-json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - 'main'
  pull_request:
    paths:
      - '.github/workflows/docker-releases-json.yml'

jobs:
  generate:
    uses: crazy-max/.github/.github/workflows/releases-json.yml@2842b806167c9dbacf5f972e0fcf47204a99d987
    with:
      repository: moby/moby
      artifact_name: docker-releases-json
      filename: docker-releases.json
      tag_patterns: |
        ^docker-(.*)$
        ^(v.*)$
    secrets: inherit

  open-pr:
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request'
    needs:
      - generate
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Download
        uses: actions/download-artifact@v8
        with:
          name: docker-releases-json
          path: .github
      -
        name: Commit changes
        run: |
          git add -A .
      -
        name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0  # v8.1.0
        with:
          base: main
          branch: bot/docker-releases-json
          commit-message: "github: update .github/docker-releases.json"
          signoff: true
          delete-branch: true
          title: "Update `.github/docker-releases.json`"
          body: |
            Update `.github/docker-releases.json` to keep in sync with [https://github.com/moby/moby](https://github.com/moby/moby).
          draft: false
