name: publish

permissions:
  id-token: write # required for OIDC
  contents: write # required to create GitHub Release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - 'v*'

env:
  NODE_VERSION: "24" # at least Node 24 is required for Trusted Publishing with OIDC

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Enable corepack
        run: |
          corepack enable
          yarn --version
      -
        name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
          package-manager-cache: false
      -
        name: Print versions
        run: |
          node --version
          npm --version
          yarn --version
      -
        name: Build
        run: |
          yarn install
          yarn run build
      -
        name: Publish
        run: |
          npm version --no-git-tag-version ${GITHUB_REF#refs/tags/v}
          npm publish --provenance --access public
      -
        name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b  # v2.5.0
        with:
          draft: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
